.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  margin-top: 6px;
}

.navbar-nav {
  display: flex;
  column-gap: 22px;
  list-style: none;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 4px 8px;
  border-radius: 6px;
  background-image: linear-gradient(
    to right,
    #03bfcf,
    #02c8d8,
    #01d2e1,
    #00dbeb,
    #00e5f4
  );
}

.nav-item:hover {
  color: #4770ea;
  border-color: #4770ea;
}
