.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 2rem;
}

.navbar-nav {
  display: flex;
  column-gap: 30px;
  list-style: none;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  color: #5f54d6;
}
