.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  font-size: 2rem;
}

.navbar-nav {
  display: flex;
  column-gap: 20px;
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  border: 1px solid black;
}

.nav-link:hover,
.nav-link.active {
  color: #5f54d6;
}
