* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster Two", cursive;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  width: 360px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #32b019;
  padding: 4px 8px;
  border-radius: 4px;
}

#root {
  width: 360px;
  min-height: 100vh;
  background-image: url("../public/fondo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
