* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --text-color: #f5efe7;
  --bkg-color: #4f709c;
  --bkg-color-transparent: #4f709c77;
  --primary-color: #213555;
  --secondary-color: #d8c4b6;
}

body {
  min-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

#root {
  width: 95%;
  min-height: 100vh;
  background-color: var(--bkg-color-transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 3rem;
  text-align: center;
}
